.addres {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 28px;
    font-weight: 700;
}

.subTitle {
    font-size: 18px;
    font-weight: 400;
}

.chooses {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.onCheck {
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 18px;
    font-weight: 400;
}