.check {
    display: flex;
    align-items: center;
    gap: 8px;
}

.text {
    color: #6b7a99;
    font-size: 16px;
    font-weight: 400;
}

.input {
    z-index: -1;
    position: absolute;
    opacity: 0;
    width: 44px;
    height: 24px;
}

.label {
    width: 44px;
    height: 24px;
    border-radius: 12px;
    background-color: #d9d9d9;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.label::before {
    content: "";
    position: absolute;
    left: 3px;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: white;
    top: 2px;
    transition: 0.3s;
    transform: translateX(0);
}

.input:checked + .label {
    background-color: #3498ff;
}

.input:checked + .label::before {
    transform: translateX(19px);
}

